<div class="container">
  <h1>From Event</h1>
  <br />
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">Add Button</div>
        <div class="card-body">
          <div #addbtn class="button btn btn-primary">add</div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">List</div>
        <div class="card-body">
          <ul id="elContainer"></ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">List</div>
        <div class="card-body">
          <ul id="elContainer2"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
