<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="title">
        <h2>Concate Map</h2>
        <p><b>Example - 01</b></p>
        <strong> Mobile Notification </strong>
      </div>
    </div>
    <div class="col-6">
      <div class="iphone-x">
        <i>Speaker</i>
        <b>Camera</b>
        <s>10:24</s>

        <span>Left action button</span>
        <span>Right action button</span>
      </div>

      <div class="notification" id="el"></div>
    </div>
  </div>
</div>
