<h1 class="py-3">Map</h1>
<br />
<br />
<div class="row">
  <div class="col-md-4">
    <strong>Ex - 01 </strong>
    <h5 class="py-2 px-2 bg-light rounded">
      <strong>Take Operator</strong>
    </h5>
    <hr />
    <ul id="elConatiner"></ul>
  </div>
  <div class="col-md-4">
    <strong>Ex - 02 </strong>
    <h5 class="py-2 px-2 bg-light rounded">
      <strong>TakeLast Operator</strong>
    </h5>
    <hr />
    <ul id="elConatiner1"></ul>
  </div>
  <div class="col-md-4">
    <strong>Ex - 03 </strong>
    <h5 class="py-2 px-2 bg-light rounded">
      <strong>TakeUntil Operator</strong>
    </h5>
    <hr />
    <ul id="elConatiner2"></ul>
  </div>
</div>
