<h1 class="py-3">Map</h1>
<br />
<br />
<div class="row">
  <div class="col-md-6">
    <strong>Ex - 01 </strong>
    <h5 class="py-2 px-2 bg-light rounded">
      Data : <strong>get data from array</strong>
    </h5>
    <hr />
    <h5>Output :</h5>
    <table *ngFor="let res of user">
      <th>Names</th>
      <td>{{ res }}</td>
    </table>
  </div>
  <div class="col-md-6">
    <strong>Ex - 01 </strong>
    <h5 class="py-2 px-2 bg-light rounded">
      Data : <strong>get data from array</strong>
    </h5>
    <hr />
    <h5>Output :</h5>
    <table>
      <th>Names</th>
      <td>values</td>
    </table>
  </div>
</div>
