.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list li {
  border: solid 1px;
  border-radius: 5px;
  margin: 5px;
  padding: 3px;
  background: #f8f8f8;
}

.list li .error{
  border-color: red;
    color: red;
    background-color: #dc3545;
}
.list li .success{
  border-color: green;
    color: green;
    background-color:#00800059;
}


