<h1 class="py-3">Tap Operator</h1>
<br />
<br />
<div class="row">
  <div class="col-md-6">
    <strong>Ex - 01 </strong>
    <h5 class="py-2 px-2 bg-light rounded">
      Data : <strong>Names + data</strong>
    </h5>
    <hr />
    <h5>Output :</h5>
    <ul id="elContainer"></ul>
  </div>
  <div class="col-md-6">
    <strong>Ex - 02 </strong>
    <h5 class="py-2 px-2 bg-light rounded">Data : <strong>Colors</strong></h5>
    <hr />
    <h5>Output :</h5>
    <ul id="elContainer2" [ngStyle]="{ color: myColor }"></ul>
  </div>
</div>
