
<!-- <button type="button" class="btn btn-primary" (click)="myfun()">click me</button> -->
<h1>Promise Value</h1>
<!-- <strong>{{promiseVal}}</strong> -->

    <div class="row">
        <div class="col-md-4">
            <strong> example # 01 : with Promise</strong>
            <hr>
           <button class="btn btn-primary" onclick="fetch1()">Buy Laptop</button>
           <hr>
           <div id="result1">data</div>
        </div>
        <div class="col-md-4">
            <strong> example # 02 : with Async/Await</strong>
            <hr>
           <button class="btn btn-primary" onclick="fetch2()">Buy Laptop</button>
           <hr>
           <div id="result2">data</div>
        </div>
         <div class="col-md-4">
            <strong> example # 03 : with Fetch Api</strong>
            <hr>
           <button class="btn btn-primary" onclick="fetch3()">Buy Laptop</button>
           <hr>
           <div id="result3">data</div>
        </div>

        <script src="promise.js"></script>
</div>

