<h1 class="py-3">Subject & SubjectBehaviour</h1>
<br />
<br />
<p>
  Hey I'm <strong class="text-warning">{{ userName }}</strong>
</p>
<hr />
<div class="row">
  <div class="col-md-6">
    <app-comp1></app-comp1>
  </div>
  <div class="col-md-6">
    <app-comp2></app-comp2>
  </div>
  <!-- <div class="col-md-4">
    <app-comp3></app-comp3>
  </div> -->
</div>
<!-- subject is eg: "user : string" and 
  in behaviourSubject we set initial value and it reflects everywhere 
  eg: "user:string = 'suman'"-->
