<div class="container d-flex justify-content-center">
  <h1 class="py-3 px-3">Concat :</h1>
  <br />
  <br />
  <div class="row">
    <div class="col-md-6">
      <strong>Ex - 01 </strong>
      <p class="py-2 px-2 bg-light rounded">
        Data : <strong>v1,v2,v3,v4</strong>
      </p>
      <hr />
      <strong>Ex - 02 </strong>
      <p class="py-2 px-2 bg-light rounded">Data : <strong>b1,b2,b3</strong></p>
      <hr />
      <strong>Ex - 03 </strong>
      <p class="py-2 px-2 bg-light rounded">
        Data : <strong>c1,c2,c3,c4,c5</strong>
      </p>
      <hr />
    </div>
    <div class="col-md-6">
      <strong>Output :</strong>
      <div class="card">
        <div class="card-header">Data Emit</div>
        <div class="card-body">
          <ul id="elContainer"></ul>
        </div>
      </div>
    </div>
  </div>
  <h1 class="py-3 px-3">Merge :</h1>
  <br />
  <br />
  <div class="row">
    <div class="col-md-6">
      <strong>Ex - 01 </strong>
      <p class="py-2 px-2 bg-light rounded">
        Data : <strong>v1,v2,v3,v4</strong>
      </p>
      <hr />
      <strong>Ex - 02 </strong>
      <p class="py-2 px-2 bg-light rounded">Data : <strong>b1,b2,b3</strong></p>
      <hr />
      <strong>Ex - 03 </strong>
      <p class="py-2 px-2 bg-light rounded">
        Data : <strong>c1,c2,c3,c4,c5</strong>
      </p>
      <hr />
    </div>
    <div class="col-md-6">
      <strong>Output :</strong>
      <div class="card">
        <div class="card-header">Data Emit</div>
        <div class="card-body">
          <ul id="elContainer2"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
